# Visual Studio / build caches
.vs/
*.user
*.suo

# Build outputs
bin/
obj/
out/
[Bb]uild/

# Packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Logs
*.log

# Temporary / cache
*.tmp
*.temp
*.cache
*.db
*.sqlite

# MSBuild auto-gen
*.props
*.targets

# NuGet / project cache
project.nuget.cache

# Assembly cache
*.AssemblyInfoInputs.cache
*.AssemblyReference.cache

# Secrets / local config
appsettings.Development.json
secrets.json

# Rider / VS Code
.idea/
.vscode/
